<script src="/ext/angular.js"></script>
<script>
	window.angular.module('app', [])
		.controller('DateController', ['$scope', function($scope) {
			$scope.value = new Date(2013, 6, 22);
		}]);
</script>

<header ts-topbar></header>
<main ts-main >
	<article>
		<form ts-form name="myForm" ng-app="app" ng-controller="DateController as dateCtrl">
			<fieldset>
				<label id="test_label">
					<span>Pick a date in 2013:</span>
					<input
							type="date"
							name="date"
							min="2013-01-01"
							max="2013-12-31"
							id="original_input"
							ng-model="value" />
				</label>
				<br/>
				<dl class="ts-info">
					<dt>ng-bind="value</dt>
					<dd id="bound" ng-bind="value | date:'yyyy-MM-dd'"></dd>
				</dl>
			</fieldset>
		</form>
	</article>
</main>
