<script src="/ext/angular.js"></script>

<style>
ul {
	padding-left: 3em;
	list-style: square;
}
ul span {
	letter-spacing: 5px;
}
</style>

<header ts-topbar></header>
<main ts-main>
	<article ng-app="app" ng-controller="TestController">
		<h1>Nested repeats</h1>
		<ul ng-repeat="level1 in testList1">
			<li ng-repeat="level2 in testList2">
			 	<span ng-repeat="level3 in testList3" ng-bind="level3"></span>
			</li>
		</ul>
	</article>
</div>

<script>
	(function setup(angular) {
		angular.module('app', []).controller('TestController', ['$scope', function TestController($scope) {
			setTimeout(function() {
				$scope.testList1 = ['a', 'b', 'c'];
				$scope.testList2 = ['d', 'e', 'f'];
				$scope.testList3 = ['x', 'y', 'z'];
				$scope.$digest();
			}, 0);
		}]);
	})(window.angular);
</script> 
