<script src="/ext/angular.js"></script>

<header ts-topbar></header>
<main ts-main>
	<article ng-app="app" ng-controller="TestController">

		<h1>Repeat in forms</h1>

		<form ts-form>
			<fieldset ng-repeat="(testMapKey, testMapVal) in testMap" class="repeatedfieldset">
				<label>
					<span ng-bind="testMapKey"></span>
					<input type="text" name="text">
				</label>
			</fieldset>
		</form>

		<h1>Forms in repeat</h1>
		<div ng-repeat="(testMapKey, testMapVal) in testMap">
			<form ts-form class="repeatedform">
				<fieldset>
					<label>
						<span ng-bind="testMapKey"></span>
						<input type="text" name="text">
					</label>
				</fieldset>
			</form>
		</div>

		<div id="ready-marker" ng-if="ready">Ready for Selenium!</div>
	</article>
</main>

<script>
	(function setup(angular) {
		angular.module('app', []).controller('TestController', ['$scope', function TestController($scope) {
			setTimeout(function() {
				$scope.testList1 = ['a', 'b', 'c'];
				$scope.testList2 = ['d', 'e', 'f'];
				$scope.testList3 = ['x', 'y', 'z'];
				$scope.testMap = {
					'a' : 12,
					'b' : 23,
					'c' : 32
				};

				$scope.ready = true;

				$scope.$digest();
			}, 0);
		}]);
	})(window.angular);
</script> 	
