**/dist
**/node_modules
**/public
src/third-party
**/temp
**/*-*.*.*.js
**/*.edbml
**/*.html
**/*.xhtml
**/*.min.js
**/*.DISABLED.js
**/setup
spec/jasmine
docs/src/js/dox-api@tradeshift.com/search/lunr.js
docs/tasks/prism.js
src/runtime/js/ts.ui/core/core-gui@tradeshift.com/dependencies/fastclick.js
