.ts-aside {
	.ts-mixin-maximize();
	position: absolute;
	left: auto;
	z-index: @ts-zindex-aside;
	width: @ts-width-aside;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
	.ts-note {
		padding-left: @ts-unit;
	}
}
