.ts-aside {
	z-index: @ts-zindex-aside;
	position: absolute;
	width: @ts-width-aside;
	top: 0;
	bottom: 0;
	right: 0;
	box-shadow: 0 0 5px rgba(0,0,0,0.5); // TODO: Something more controlled!
	> .ts-panel:not([class*="ts-bg"]) {
		background-color: @ts-white;
	}
	> .ts-panel {
		.ts-mixin-maximize();
		top: @ts-unit-triple;
	}
	&.ts-has-panels > .ts-panel {
		top: @ts-unit-triple + @ts-unit-double;
	}
}
.ts-mobile-only {
	.ts-aside {
		width: 100%;
	}
}
