/**
 * This would probably not make much sense in the general mixins, huh?
 *
.box-mixin-vbox() {
	//.ts-mixin-maximize();
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	> .ts-panel,
	> .ts-panels {
		-webkit-flex: 1 0 0;
		-ms-flex: 1 0 0px; // this unit is needed in IE!
		flex: 1 0 0;
	}
}

.box-mixin-hbox {
	//.ts-mixin-maximize();
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	> .ts-main {
		-webkit-flex: 1 0 0;
		-ms-flex: 1 0 0px; // this unit is needed in IE!
		flex: 1 0 0;	
	}
}
*/

.ts-box {
	position: relative;
	display: flex;
	flex-direction: column;
	> .ts-headerbar,
	> .ts-toolbar,
	> .ts-panels {
		margin: 0;
	}
	> .ts-panels {
		> .ts-panel {
			overflow: visible;
			padding: @ts-unit;
			height: 100%;
		}
	}
	/*
	&.ts-has-header {
		> .ts-panels,
		> .ts-panel {
			border-top: 1px solid @ts-lite-darker;
		}
	}
	*/
}