.ts-board {
	.ts-mixin-rounded();
	box-shadow: 0 0 3px rgba(0,0,0,0.08);
	border: 1px solid rgba(0,0,0,0.16);
	background-color: @ts-white;
	margin-bottom: @ts-unit;
	> .ts-panel,
	> .ts-panels > .ts-panel {
		padding: @ts-unit;
		overflow: visible;
	}
	&.ts-equalsize {
		> .ts-panels {
			overflow: hidden;
			.ts-panel {
				height: 100%;
			}
		}
	}
	> .ts-toolbar {
		.ts-mixin-rounded(@ts-radius, @ts-radius, 0, 0);
		.ts-tab,
		.ts-tab-label,
		.ts-tab .ts-button {
			&:first-of-type {
				.ts-mixin-rounded(@ts-radius, 0, 0, 0);
			}
		}
	}
	.ts-panels,
	.ts-panel {
		flex: none;
		height: auto;
	}
	&.ts-has-header {
		> .ts-panels,
		> .ts-panel {
			border-top: 1px solid rgba(0,0,0,0.16);
		}
	}
	/*
	&:not(.ts-has-header) {
		> .ts-panel {
			flex: none;
			height: auto;
		}
	}
	*/
}
