// Colors ......................................................................

// Red
@new-red-lightest: hsl(0, 57%, 90%);
@new-red-lighter: hsl(0, 59%, 80%);
@new-red-light: hsl(0, 59%, 60%);
@new-red: hsl(0, 100%, 37%);
@new-red-dark: hsl(0, 100%, 30%);
@new-red-darker: hsl(0, 100%, 24%);

// Orange
@new-orange-lightest: hsl(32, 100%, 92%);
@new-orange-lighter: hsl(33, 100%, 84%);
@new-orange-light: hsl(33, 100%, 68%);
@new-orange: hsl(33, 100%, 50%);
@new-orange-dark: hsl(31, 100%, 47%);
@new-orange-darker: hsl(26, 100%, 41%);

// Yellow
@new-yellow-lightest: hsl(44, 95%, 92%);
@new-yellow-lighter: hsl(45, 95%, 85%);
@new-yellow-light: hsl(44, 96%, 70%);
@new-yellow: hsl(44, 98%, 53%);
@new-yellow-dark: hsl(40, 100%, 52%);
@new-yellow-darker: hsl(34, 100%, 49%);

// Green
@new-green-lightest: hsl(99, 59%, 90%);
@new-green-lighter: hsl(99, 60%, 81%);
@new-green-light: hsl(99, 61%, 63%);
@new-green: hsl(99, 85%, 42%);
@new-green-dark: hsl(101, 87%, 33%);
@new-green-darker: hsl(103, 91%, 26%);

// Blue
@new-blue-lightest: hsl(199, 100%, 92%);
@new-blue-lighter: hsl(199, 100%, 84%);
@new-blue-light: hsl(199, 100%, 68%);
@new-blue: hsl(199, 100%, 50%);
@new-blue-dark: hsl(201, 100%, 40%);
@new-blue-darker: hsl(203, 100%, 32%);

// Purple
@new-purple-lightest: hsl(295, 39%, 89%);
@new-purple-lighter: hsl(295, 40%, 78%);
@new-purple-light: hsl(295, 40%, 57%);
@new-purple: hsl(295, 79%, 34%);
@new-purple-dark: hsl(294, 82%, 26%);
@new-purple-darker: hsl(296, 100%, 19%);

// Pink
@new-pink-lightest: hsl(325, 46%, 89%);
@new-pink-lighter: hsl(325, 48%, 78%);
@new-pink-light: hsl(325, 48%, 57%);
@new-pink: hsl(325, 98%, 33%);
@new-pink-dark: hsl(327, 99%, 26%);
@new-pink-darker: hsl(329, 100%, 21%);

// Greys .......................................................................

// Grey
@new-grey-lightest: hsl(195, 20%, 96%);
@new-grey-lighter: hsl(198, 23%, 85%);
@new-grey-light: hsl(199, 25%, 64%);
@new-grey: hsl(200, 23%, 45%);
@new-grey-dark: hsl(203, 22%, 36%);
@new-grey-darker: hsl(200, 24%, 20%);
@new-grey-darkest: hsl(204, 25%, 8%);