@import 'ts-variables.less';

i {
	.ts-mixin-icon();
	position: relative;
	top: 0;
	&:before {
		position: relative;
	}
	svg {
		&,
		a,
		defs,
		g,
		glyph,
		marker,
		mask,
		missing-glyph,
		pattern,
		switch,
		symbol,
		circle,
		ellipse,
		image,
		line,
		path,
		polygon,
		polyline,
		rect,
		text,
		use {
			fill: currentColor;
		}
	}
	&.ts-icon {
		svg {
			margin-top: 0 - 50%;
		}
	}
}
.ts-icon-logo-trade:before {
	content: 'K';
}
.ts-icon-logo-shift:before {
	content: 'L';
}
.ts-icon-logo-t1:before {
	content: 'M';
}
.ts-icon-logo-t2:before {
	content: 'N';
}
.ts-icon-discovery:before {
	content: 'E';
}
.ts-icon-activity:before {
	content: 'f';
}
.ts-icon-todo:before {
	content: 'q';
}
.ts-icon-network:before {
	content: 'G';
}
.ts-icon-createdocument:before {
	content: 'P';
}
.ts-icon-alldocuments:before {
	content: 'j';
}
.ts-icon-document:before {
	content: ';';
}
.ts-icon-sales:before {
	content: 'X';
}
.ts-icon-purchases:before {
	content: '$';
}
.ts-icon-cart:before {
	content: '$';
}
.ts-icon-drafts:before {
	content: 'F';
}
.ts-icon-apps:before {
	content: 'a';
}
.ts-icon-usersettings:before {
	content: 'U';
}
.ts-icon-settings:before {
	content: 'y';
}
.ts-icon-companyprofile:before {
	content: 'H';
}
.ts-icon-logout:before {
	content: 'Q';
}
.ts-icon-support:before {
	content: '?';
}
.ts-icon-checked:before,
.ts-icon-accept:before,
.ts-icon-done:before {
	content: '3';
}
.ts-icon-checked-alt:before {
	content: '2';
}
.ts-icon-remove:before {
	content: 'D';
}
.ts-icon-add:before {
	content: '&';
}
.ts-icon-close:before {
	content: '*';
}
.ts-icon-location:before {
	content: '@';
}
.ts-icon-addfilter:before {
	content: 'k';
}
.ts-icon-followed:before {
	content: 'S';
}
.ts-icon-unfollowed:before {
	content: '5';
}
.ts-icon-search:before {
	content: 's';
}
.ts-icon-statuschange:before {
	content: '1';
}
.ts-icon-edit:before {
	content: 'p';
}
.ts-icon-rating:before {
	content: 'r';
}
.ts-icon-share:before {
	content: 'R';
}
.ts-icon-industry:before {
	content: 'z';
}
.ts-icon-showpicker:before {
	content: '6';
}
.ts-icon-warning:before {
	content: '!';
}
.ts-icon-timer:before {
	content: 't';
}
.ts-icon-comment:before {
	content: 'w';
}
.ts-icon-more:before {
	content: '+';
}
.ts-icon-users:before {
	content: 'g';
}
.ts-icon-ownership:before {
	content: '\00a7';
}
.ts-icon-companysize:before {
	content: 'g';
}
.ts-icon-view:before {
	content: 'I';
}
.ts-icon-reject:before {
	content: 'd';
}
.ts-icon-dispute:before {
	content: '\05C';
}
.ts-icon-menuswitch:before {
	content: 'l';
}
.ts-icon-calendar:before {
	content: '\00a9';
}
.ts-icon-select:before {
	content: '}';
}
.ts-icon-delete:before {
	content: '#';
}
.ts-icon-cancel:before {
	content: 'd';
}
.ts-icon-info:before {
	content: 'i';
}
.ts-icon-forums:before {
	content: 'i';
}
.ts-icon-addfield:before {
	content: ',';
}
.ts-icon-fileaccess:before {
	content: '/';
}
.ts-icon-error:before {
	content: '!';
}
.ts-icon-appactivate:before {
	content: '&';
}
.ts-icon-appactive:before {
	content: '3';
}
.ts-icon-fileattach:before {
	content: 'A';
}
.ts-icon-reset:before {
	content: 'n';
}
.ts-icon-send:before {
	content: 'm';
}
.ts-icon-save:before {
	content: 'e';
}
.ts-icon-proceed:before {
	content: '>';
}
.ts-icon-back:before {
	content: '<';
}
.ts-icon-download:before {
	content: 'B';
}
.ts-icon-broadcastmessage:before {
	content: 'b';
}
.ts-icon-insertfrominventory:before {
	content: '|';
}
.ts-icon-triangleright:before {
	content: '6';
}
.ts-icon-triangleleft:before {
	content: '8';
}
.ts-icon-triangleup:before {
	content: '9';
}
.ts-icon-triangledown:before {
	content: '7';
}
.ts-icon-arrowright:before {
	content: '>';
}
.ts-icon-arrowleft:before {
	content: '<';
}
.ts-icon-arrowup:before {
	content: 'u';
}
.ts-icon-arrowdown:before {
	content: 'v';
}
.ts-icon-preview:before {
	content: 'o';
}
.ts-icon-locked:before {
	content: 'V';
}
.ts-icon-unlocked:before {
	content: 'W';
}
.ts-icon-next:before {
	content: '>';
}
.ts-icon-approve:before {
	content: '3';
}
.ts-icon-code:before {
	content: 'C';
}
.ts-icon-halt:before {
	content: 'h';
}
.ts-icon-pay:before {
	content: '_';
}
.ts-icon-other:before {
	content: 'O';
}
.ts-icon-myapps:before {
	content: 'Y';
}
.ts-icon-companyevent:before {
	content: 'c';
}
.ts-icon-split:before {
	content: '%';
}
.ts-icon-split-alt:before {
	content: '\00f7';
}
.ts-icon-merge:before {
	content: 'J';
}
.ts-icon-associated:before {
	content: '=';
}
.ts-icon-radio:before {
	content: '{';
}
.ts-icon-radioon:before {
	content: ':';
}
.ts-icon-checkbox:before {
	content: "'";
}
.ts-icon-checkboxon:before {
	content: '"';
}
.ts-icon-checkbox-indeterminate:before {
	content: '\2260';
}
.ts-icon-written-request:before {
	content: '(';
}
.ts-icon-categories:before {
	content: ')';
}
.ts-icon-favorites:before {
	content: '\2265';
}
.ts-icon-heart:before {
	content: '\2265';
}
.ts-icon-preferred:before {
	content: '\222B';
}
.ts-icon-pin:before {
	content: '\222B';
}
.ts-icon-previously-requested:before {
	content: '\221E';
}
.ts-icon-archive:before {
	content: '\00f7';
}
.ts-icon-add-to-archive:before {
	content: '\2205';
}
.ts-icon-collaboration:before {
	content: '\2122';
}
.ts-icon-add-current-object:before {
	content: '\00ae';
}
.ts-icon-forward:before {
	content: '\2264';
}
.ts-icon-question:before {
	content: '\2020';
}
.ts-icon-phone:before {
	content: '\2202';
}
.ts-icon-box:before {
	content: '\2030';
}
.ts-icon-users-assign:before {
	content: '\02DD';
}
.ts-icon-users-add:before {
	content: '\005D';
}
.ts-icon-users-remove:before {
	content: '\0060';
}
.ts-icon-tools:before {
	content: 'á';
}
.ts-icon-basket:before {
	content: '^';
}
.ts-icon-erp:before {
	content: 'è';
}
.ts-icon-upload:before {
	content: '↑';
}
.ts-icon-ada:before {
	content: 'Â';
}
// Fixes .......................................................................

.ts-icon-checked:before,
.ts-icon-accept:before,
.ts-icon-done:before,
.ts-icon-approve:before,
.ts-icon-appactive:before {
	left: 1px;
	top: 0.5px;
}
.ts-icon-activity:before {
	left: 1px;
}
.ts-icon-alldocuments:before {
	left: 1px;
	top: -1px;
}
.ts-icon-broadcastmessage:before {
	left: 0.75px;
	top: -0.25px;
}
.ts-icon-arrowdown:before,
.ts-icon-arrowleft:before,
.ts-icon-back:before,
.ts-icon-arrowright:before,
.ts-icon-arrowup:before {
	top: -1px;
}
.ts-icon-arrowright:before,
.ts-icon-next:before {
	left: 1px;
}
.ts-icon-arrowup:before {
	left: 0.5px;
}
.ts-icon-associated:before {
	top: -1px;
	left: -1px;
}
.ts-icon-code:before,
.ts-icon-view:before {
	left: 1px;
}
.ts-icon-comment:before,
.ts-icon-collaboration:before,
.ts-icon-companyevent:before,
.ts-icon-delete:before {
	left: 0.75px;
}
.ts-icon-triangledown:before {
	left: 0.25px;
	top: 2px;
}
.ts-icon-triangleleft:before {
	left: -1px;
	top: -0.5px;
}
.ts-icon-triangleright:before,
.ts-icon-showpicker:before {
	left: 1px;
	top: -0.5px;
}
.ts-icon-triangleup:before {
	left: 0.5px;
}
.ts-icon-todo:before {
	left: 2px;
}
.ts-icon-radio:before,
.ts-icon-radioon:before {
	left: 0.5px;
}
.ts-icon-industry:before {
	top: -1px;
	left: 1px;
}

// WebKit (Safari AND Chrome) ..................................................

.ts-engine-webkit {
	.ts-icon-close:before {
		top: -1px;
		left: 0.25px;
	}
	.ts-icon-addfilter:before {
		top: 2px;
		left: 0.5px;
	}
	.ts-icon-appactivate:before,
	.ts-icon-companysize:before,
	.ts-icon-createdocument:before,
	.ts-icon-dispute:before,
	.ts-icon-users:before {
		left: 1px;
	}
	.ts-icon-discovery:before {
		left: 0.5px;
	}
	.ts-icon-checkbox:before,
	.ts-icon-checkboxon:before,
	.ts-icon-rating:before,
	.ts-icon-followed:before .ts-icon-unfollowed:before {
		top: -1px;
		left: 1px;
	}
	.ts-icon-checked-alt:before {
		left: 1px;
	}
	.ts-icon-remove:before,
	.ts-icon-more:before {
		left: 0.5px;
	}
	.ts-icon-warning:before,
	.ts-icon-error:before {
		left: 1px;
	}
	.ts-icon-settings:before {
		top: 0.5px;
		left: 0.5px;
	}
	.ts-icon-usersettings:before {
		top: -1px;
		left: 0.5px;
	}
}

// Firefox .....................................................................

.ts-engine-gecko {
	.ts-icon-close:before {
		top: -1.75px;
		left: 0.85px;
	}
	.ts-icon-remove:before {
		top: 1px;
	}
	.ts-icon-menuswitch:before {
		top: 1px;
	}
	.ts-icon-addfield:before {
		left: 0.25px;
		top: 0.25px;
	}
	.ts-icon-addfilter:before {
		top: 1px;
	}
	.ts-icon-appactivate:before {
		left: 1px;
		top: -1px;
	}
	.ts-icon-companysize:before,
	.ts-icon-users:before {
		left: 2px;
	}
	.ts-icon-checkbox:before,
	.ts-icon-checkboxon:before {
		top: -2px;
		left: 1px;
	}
	.ts-icon-createdocument:before {
		left: 0.75px;
		top: -0.75px;
	}
	.ts-icon-checked-alt:before {
		left: 0.75px;
	}
	.ts-icon-download:before {
		left: 1px;
	}
	.ts-icon-drafts:before {
		left: 0.1px;
		top: -0.5px;
	}
	.ts-icon-rating:before,
	.ts-icon-followed:before,
	.ts-icon-unfollowed:before {
		left: 1px;
		top: -1.25px;
	}
	.ts-icon-remove:before,
	.ts-icon-more:before {
		top: -1px;
		left: 0.5px;
	}
	.ts-icon-warning:before,
	.ts-icon-error:before {
		left: 1px;
		top: -1px;
	}
	.ts-icon-usersettings:before {
		top: -2px;
		left: 0.25px;
	}
}

// Exploder ....................................................................

.ts-engine-explorer {
	.ts-icon-close:before {
		top: -2px;
	}
}

[class^='ts-icon'] {
	&.ts-color-blue {
		color: @ts-color-blue;
	}
	&.ts-color-red {
		color: @ts-color-red;
	}
	&.ts-color-orange {
		color: @ts-color-orange;
	}
	&.ts-color-yellow {
		color: @ts-color-yellow;
	}
	&.ts-color-green {
		color: @ts-color-green;
	}
	&.ts-color-purple {
		color: @ts-color-purple;
	}
	&.ts-color-pink {
		color: @ts-color-pink;
	}
	&.ts-color-gray {
		color: @ts-color-gray;
	}
	&.ts-color-slate {
		color: @ts-color-slate;
	}
	&.ts-color-white {
		color: @ts-color-white;
	}
	&.ts-color-black {
		color: @ts-color-black;
	}
	&.ts-color-gray-light {
		color: @ts-color-gray-light;
	}
}
