@import 'ts-variables-new.less';

// Layout ......................................................................

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
  overflow: hidden;
}
.ts-app {
	flex: 1 0 0px;
	display: flex;
	flex-direction: column;
	max-width: 100%;
}
body,
.ts-main,
.ts-mains {
	display: flex;
	flex-direction: row;
	flex: 1 0 0px;
}
.ts-main {
	position: relative;
	z-index: @ts-zindex-main;
	&.ts-panel {
		overflow: hidden;
	}
}
.ts-sideshow,
.ts-content {
	display: flex;
	flex-direction: column;
}
.ts-content {
	position: relative;
	width: 100%;
}
.ts-panels,
.ts-panel {
	flex: 1 0 0px;
	position: relative;
	height: 0;
}
.ts-panel {
	-webkit-overflow-scrolling: touch;
	overflow-x: hidden;
	overflow-y: scroll;
}
.ts-panels {
	display: flex;
	flex-direction: column;
	> .ts-panel {
		&:not(.ts-selected) {
			display: none;
		}
	}
}

// Box .........................................................................

.ts-layout {
	position: relative;
	display: flex;
	flex-direction: column;
	> header,
	> footer,
	> .ts-panel,
	> .ts-panels {
		margin: 0;
	}
}

// Decorations .................................................................

.ts-toolbar,
.ts-headerbar,
.ts-footerbar {
	position: relative;
	&:after {
		height: 1px;
		position: absolute;
		left: 0;
		right: 0;
		pointer-events: none;
		background-color: @new-bordercolor;
	}
}

.ts-headerbar {
	&:after {
		bottom: 0;
		content: '';
	}
	.ts-headerbar-buttonbar {
		&:after {
			top: 0;
			content: '';
		}
	}
}

.ts-footerbar:after {
	top: 0;
	content: '';
}

.ts-sidebar {
	position: relative;
	&:after {
		width: 1px;
		position: absolute;
		top: 0;
		bottom: 0;
		pointer-events: none;
		background-color: @new-bordercolor;
	}
	&.ts-sidebar-first {
		&:after {
			right: 0;
			content: '';
		}
	}
	&.ts-sidebar-last {
		&:after {
			left: 0;
			content: '';
		}
	}
}

.ts-scrollbars-on {
	.ts-content + .ts-sidebar.ts-sidebar-last {
		&:after {
			content: none;
		}
	}
}

.ts-app {
	&.ts-has-header,
	&.ts-has-footer {
		.ts-content > .ts-panel {
			background-repeat: no-repeat;
			background-size: 100% 3px;
		}
	}
	&.ts-has-header {
		.ts-content > .ts-panel {
			background-image: linear-gradient(@new-shadowcolor, transparent);			
		}
	}
	&.ts-has-footer {
		.ts-content > .ts-panel {
			background-image: linear-gradient(transparent, @new-shadowcolor);
			background-position: 0 100%;
		}	
	}
	&.ts-has-header.ts-has-footer {
		.ts-content > .ts-panel {
			background-image: linear-gradient(@new-shadowcolor, transparent), linear-gradient(transparent, @new-shadowcolor);
			background-repeat: no-repeat, no-repeat;
			background-size: 100% 3px, 100% 3px;
			background-position: 0 0, 0 100%;
		}
	}
}

// Breakpoints .................................................................

.ts-tablet {
	.ts-sideshow {
		.ts-mixin-fixwidth(@ts-width-aside);
	}
}
.mixin-panel-buffer(@padding) {
	.ts-main {
		> .ts-content {
			> .ts-panel {
				padding-top: @padding;
			}
		}
	}
}
.ts-mobile-only {
	.ts-sideshow  {
		.ts-mixin-fixwidth(100%);
	}
	.ts-app {
		> .ts-headerbar {
			position: absolute;
			width: 100%;
			will-change: transform;
			z-index: @ts-zindex-main + 1;
		}
		.ts-sideshow {
			.ts-mixin-fixwidth(100%);
		}
		&.ts-header-level-3 {
			.mixin-panel-buffer(@ts-unit * 3);
		}
		&.ts-header-level-5 {
			.mixin-panel-buffer(@ts-unit * 5);
		}
		&.ts-header-level-6 {
			.mixin-panel-buffer(@ts-unit * 6);
		}
		&.ts-header-level-8 {
			.mixin-panel-buffer(@ts-unit * 8);
		}
	}
}