.ts-modal {
	position: absolute;
	box-shadow: 10px 10px 10px black;
	width: 740px;
	height: 320px;
	left: 50%;
	top: 50%;
	margin-left: -320px;
	margin-top: -160px;
	.ts-panel {
		background-color: @ts-white;
		height: 100%;
	}
}