.ts-sideshow {
	margin-bottom: 0;
	&,
	> header,
	> footer,
	> .ts-panel,
	> .ts-panels {
		background-color: @ts-color-white;
	}
	> .ts-panel,
	> .ts-panels > .ts-panel,
	> .ts-panel ~ footer,
	> .ts-panels ~ footer {
		padding: @ts-unit;
	}
	> .ts-panel,
	> .ts-panels > .ts-panel {
		padding-bottom: @ts-unit-triple;
	}
	> .ts-panel {
		z-index: 0;
	}
	> .ts-panel > .ts-note,
	> .ts-panels > .ts-panel > .ts-note {
		&:first-child {
			margin: -@ts-unit -@ts-unit @ts-unit -@ts-unit;
		}
	}
	> .ts-panel,
	> .ts-panel ~ footer {
		.ts-menu,
		.ts-fieldset,
		.ts-calendar {
			.ts-mixin-expand();
		}
		.ts-buttons {
			.ts-mixin-expand(@ts-unit-quarter);
		}
		> .ts-menu,
		> .ts-form,
		> .ts-calendar {
			&:first-child {
				.ts-mixin-liftup();
			}
		}
	}
	> .ts-cover {
		&.ts-opaque {
			background-color: @ts-color-white;
		}
		.ts-spinner {
			top: @ts-unit * 9;
		}
	}
	&.ts-opening,
	&.ts-closing {
		pointer-events: none;
	}
}
