// @new-bordercolor: rgba(0,0,0,0.2); use this for better theming support???
@new-bordercolor: @ts-color-gray-light; // for now use form field outline color
@new-shadowcolor: @ts-color-gray-darker;

@ts-shadow: 0 3px 6px fade(@ts-color-slate-lightest, 16%), 0 5px 10px fade(@ts-color-slate-lightest, 8%);
// 0 5px 10px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08), 0 0 1px rgba(50,50,93,.2) 