<!doctype html>
<html>
	<head>
		<% if (isSelenium) { %>
			<script>
				window.TS_SELENIUM = true;
			</script>
		<% } %>
		<script src="http://<%- host %>:<%- port %>/dist/ts.js?internal"></script>
		<script>
			//ts.ui.ToolBar.title('<%= page %>'); // TODO: Support title!
			ts.ui.TopBar.buttons([{
				label: 'Back to Index',
				type: 'ts-primary',
				onclick: function() { // TODO: support href!
					document.location = '/';
				}
			}]);
		</script>
		<style>
			article {
				padding: 66px;
			}
		</style>
	</head>
	<body>
		<%- body %>
	</body>
</html>
