<header ts-topbar></header>
<main ts-main>
	<article>
		<h1>TopBar tabs and navigation</h1>
	</article>
</main>
<script>
	ts.ui.TopBar.tabs([
		{
			label: "Tab 1"
		},
		{
			label: "Tab 2"
		},
		{
			label: "Tab 3 (selected)",
			selected: true
		}
	]).backButton(function() {
		console.log('Back');
	}).forwardButton(function() {
		console.log('Forward');
	}).title('TopBar.tabs'); // NOTE: title *not* visible when we have tabs
</script>
