@import '../../../src/runtime/less/ts-variables.less';

// Chrome ......................................................................

.ts-doxchrome {
	#chrome {
		.ts-mixin-maximize();
		display: flex;
		flex-direction: row;
		top: 40px;
	}
	#versions {
		height: 40px;
		border: none;
		position: absolute;
		top: 0;
		z-index: @ts-zindex-max;
		width: 100%;
	}
	.ts-sidebar,
	.ts-topbarspinner {
		visibility: hidden;
	}
	.ts-sidebar {
		.ts-toolbar {
			background-color: @ts-color-slate-light;
			&,
			a,
			button {
				color: @ts-color-white;
			}
			label {
				&.ts-focus,
				&.ts-focus-on {
					background-color: transparent;
				}
			}
		}
		.ts-toolbar-title label {
			-webkit-font-smoothing: antialiased;
			font-size: @ts-fontsize-big;
			font-weight: normal;
		}
		.ts-panel {
			padding: 0;
			background-color: @ts-color-slate-light;
			&.appendix {
				background-color: @ts-color-slate;
			}
			&::-webkit-scrollbar {
				width: 5px;
			}
			&::-webkit-scrollbar-thumb:vertical {
				margin: 5px;
				background-color: @ts-color-gray;
				-webkit-border-radius: 5px;
			}
			&::-webkit-scrollbar-button:start:decrement,
			&::-webkit-scrollbar-button:end:increment {
				height: 5px;
				display: block;
			}
			.ts-menu {
				margin: 0;
			}
			&:after {
				content: ''; // why does this make the scrollbar look cool in Chrome?
			}
		}
		&:after {
			content: none;
		}
	}
	&.selectfirstitem {
		.ts-sidebar {
			> .ts-shadow {
				display: none;
			}
		}
	}
	&.ts-menudone {
		.ts-topbarspinner,
		.ts-sidebar {
			visibility: visible;
		}
	}
	.ts-main {
		overflow-x: hidden;
		overflow-y: hidden;
		display: block;
		min-height: 100%;
		iframe {
			.ts-mixin-maximize();
			width: 100%;
			height: 100%;
		}
	}
	.button-menu-open,
	.button-menu-close {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: @ts-zindex-dialog-cover - 1;
		display: none;
	}
	.button-menu-open {
		width: @ts-unit-triple;
		left: auto;
		i {
			.ts-mixin-fix(@ts-unit-triple, @ts-unit-triple);
			background-color: @ts-color-gray;
			color: @ts-color-white;
			position: absolute;
			top: 0;
			left: 0;
			&:before {
				top: 50%;
			}
		}
	}
}
.ts-engine-webkit {
	.ts-doxchrome {
		.ts-sidebar {
			.ts-toolbar-title label {
				position: relative;
				top: 1px;
			}
		}
	}
}

// Menu ........................................................................

.ts-doxchrome {
	.ts-menu {
		h3 {
			margin: 0;
			background-color: @ts-color-gray;
			padding: @ts-unit-quarter;
			padding-left: @ts-unit;
			font-size: @ts-fontsize-small;
			.ts-mixin-button-text();
		}
		i svg {
			margin-top: 0;
		}
		&.ts-doxmenu > li > a {
			background-color: @ts-color-slate-light;
			&:hover:not(:disabled) {
				background-color: @ts-color-slate-lighter;
			}
		}
		> li {
			&,
			&:last-child {
				> a {
					padding: @ts-unit @ts-unit-half @ts-unit @ts-unit-plus;
				}
			}
			> a {
				border-bottom: none;
				background-color: @ts-color-slate-light;
				color: @ts-color-white;
				border-radius: 0;
				&:hover:not(:disabled),
				&:focus {
					background-color: @ts-color-slate-lighter !important;
					&:before {
						background-color: @ts-color-blue;
					}
				}
				> i {
					@icon-height: 24px;
					top: (@ts-unit-triple - @icon-height) / 2;
					left: @ts-unit;
				}
				&.ts-checked {
					position: relative; // on toggle ?????????????????????????????????????
					z-index: 3;
					&,
					&:hover {
						background-color: @ts-color-blue !important;
						color: @ts-color-white;
						cursor: default;
					}
				}
			}
			&.submenu {
				> a {
					position: relative;
					z-index: 2;
				}
				> .ts-menu {
					> li {
						> a {
							background-color: @ts-color-slate;
							position: relative;
							z-index: 2;
							&:hover:not(:disabled),
							&:focus {
								background-color: @ts-color-slate-light;
							}
						}
					}
				}
				/*
				> .ts-shadow {
					position: absolute;
					height: 3px;
					width: 100%;
					background-image: linear-gradient(fade(red, 25%), transparent);
					z-index: 1;
				}
				*/
				menu {
					width: 100%;
					display: none;
				}
				&.open,
				&.sliding {
					menu {
						display: block;
					}
				}
				&.sliding {
					position: relative;
					pointer-events: none;
					overflow: visible;
					menu {
						position: absolute;
						top: @ts-unit-triple;
					}
				}
				/*
				&:not(.open) {
					a:after {
						content: '▼';
						position: absolute;
						top: 0;
						right: 0;
						width: @ts-unit-triple;
						height: @ts-unit-triple;
						line-height: @ts-unit-triple; 
						text-align: center;
					}
				}
				*/
				> .ts-menu > li > a {
					padding-left: @ts-unit * 2.5;
				}
				> .ts-menu > li > a > i {
					padding-left: @ts-unit;
				}
			}
			&.resultsbanner {
				height: @ts-unit-triple;
				line-height: @ts-unit-triple;
				padding-left: @ts-unit;
				font-style: italic;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				color: @ts-color-gray;
				position: relative;
				strong {
					color: @ts-color-white;
				}
			}
		}
	}
	#menucover {
		height: 0;
		background-color: @ts-color-gray;
		top: 0;
		left: 0;
		width: @ts-width-aside;
		z-index: 2000000;
		position: absolute;
	}
}

// Loading .....................................................................

.ts-doxchrome {
	.ts-topbarspinner {
		z-index: @ts-zindex-aside + 1;
		left: @ts-unit * 10;
		// top: 30px;
	}
	.button-menu-open i {
		transition: opacity @ts-transition-fast;
	}
}
&.ts-loading {
	.ts-doxchrome {
		.button-menu-open i {
			opacity: 0;
		}
	}
}

// Layouts .....................................................................

.ts-doxchrome {
	.ts-app {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: @ts-width-aside;
	}
	.ts-cover:not(.ts-dox-blocking) {
		max-width: @ts-width-aside;
	}
	&.collapse-some,
	&.collapse-full {
		.ts-app {
			.ts-mixin-transition-transform(@ts-transition-fast, @ts-timing-easeoutquint);
		}
		.ts-sidebar {
			.ts-toolbar-title label {
				display: none;
			}
		}
	}
	&.collapse-some {
		.ts-app {
			left: @ts-unit-triple;
			.ts-mixin-fixwidth(calc(~'100% - ' @ts-unit-triple));
		}
		&:before {
			width: @ts-unit-triple;
		}
		.ts-cover:not(.ts-dox-blocking) {
			max-width: @ts-unit-triple;
		}
		.button-menu-open {
			display: block;
		}
		.ts-topbarspinner {
			left: 0;
		}
		.ts-menu h3 {
			transition: opacity @ts-transition-now;
			transition-timing-function: @ts-timing-easeoutquint;
			opacity: 0;
		}
		&.uncollapse {
			.ts-topbarspinner {
				display: none;
			}
			.ts-app {
				.ts-mixin-translate3d(@ts-width-aside - @ts-unit-triple, 0, 0);
			}
			.ts-menu h3 {
				opacity: 1;
			}
			&.searching {
				.ts-toolbar-menu.ts-right {
					display: none; // hide sidebar close button while searching
				}
			}
		}
		&:not(.uncollapse) {
			.ts-search {
				display: none;
			}
		}
		.ts-menu > li.submenu > .ts-menu > li > a {
			padding-left: @ts-unit-double;
		}
		.ts-menu > li.submenu > .ts-menu > li > a > i {
			padding-left: 0;
		}
	}
	&.collapse-full {
		.ts-app {
			left: 0;
		}
		&:before {
			display: none;
		}
		.ts-cover:not(.ts-dox-blocking) {
			display: none !important;
		}
		.ts-topbarspinner {
			display: none;
		}
		.ts-sidebar {
			.ts-mixin-translate3d(0 - 100%, 0, 0);
		}
		.ts-sidebar,
		.ts-app {
			.ts-mixin-transition-transform(@ts-transition-fast, @ts-timing-easeoutquint);
		}
		&.uncollapse {
			.ts-sidebar {
				.ts-mixin-translate3d(0, 0, 0);
			}
			.ts-app {
				.ts-mixin-translate3d(100%, 0, 0);
			}
		}
	}
	&.uncollapse {
		.ts-sidebar {
			.ts-toolbar-title label {
				display: block;
			}
		}
		.button-menu-open {
			display: none;
		}
		.button-menu-close {
			display: block;
		}
	}
}
