@import 'ts-runtime.less';
@import 'dox-variables.less';
@import 'dox-mixins.less';
@import 'dox-fonts.less';
@import 'dox-typo.less';
@import 'dox-syntax.less';
@import 'dox-table.less';
@import 'dox-page-intro.less';
@import 'dox-page-tags.less';
@import 'dox-chrome.less';

html {
	background-color: @ts-lite-lite !important;
}

article {
	padding: (@ts-unit * 3);
	max-width: @docs-width + (@ts-unit * 3 * 2);
	padding-bottom: @ts-unit * 7;
}

#markdown {
	img {
		max-width: 100%;
		text-align: center;
	}
	blockquote {
		.ts-mixin-rounded-t();
		background: @ts-lite-lite;
		padding: 0;
		margin-bottom: @ts-unit;
		overflow: hidden;
		h4,
		h5,
		h6 {
			display: block;
			margin: 0;
			padding: 0 @ts-unit;
			text-transform: uppercase;
			font-size: @ts-fontsize-mini;
			color: @ts-white;
			line-height: @ts-unit;
		}
		// "good copy" is h4, "bad copy" is h5
		h4 {
			background: fade(@ts-green, 75%);
		}
		h5 {
			background: fade(@ts-red, 75%);
		}
		// h6 is just a normal gray heading
		h6 {
			background: fade(@ts-black, 75%);
		}
		p {
			margin: 0;
			padding: @ts-unit-half @ts-unit;
		}
		ul,
		ol {
			padding: 0 @ts-unit 0 @ts-unit-double;
		}
	}
}

.dox-dropshadow {
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.doc-responsive {
	#breakpoints {
		background-color: @ts-lite-liter;
		padding-bottom: @ts-unit;
		border-radius: 3px;
		dl {
			width: 50%;
			float: left;
			padding: @ts-unit-half @ts-unit;
			margin: 0;
			dt {
				font-weight: @ts-fontweight-light;
				padding-bottom: @ts-unit-half;
			}
		}
		&:after {
			content: '';
			display: block;
			clear: both;
			height: 0;
		}
	}

	.docs-responsive-demo {
		.ts-mixin-transition();
		background: @ts-lite-liter;
		border: 1px solid @ts-lite;
		padding: @ts-unit;
		margin-bottom: @ts-unit;
	}
}

.doc-typo {
	max-width: @ts-unit * 30;
	span.extra {
		color: fade(@ts-black, 50%);
		margin-left: @ts-unit-double;
		font-family: @ts-fontstack-mono;
		font-size: @ts-fontsize;
		float: right;
	}
}
.doc-colors-article {
	max-width: 100%;
}
#doc-colors-demo {
	.color-row {
		.ts-mixin-flexrow();
		justify-content: space-around;
		> div {
			padding: @ts-unit-plus @ts-unit-half;
			.ts-mixin-flex();
			overflow: hidden;
			.color-name {
				font-weight: @ts-fontweight;
				font-size: @ts-fontsize;
				margin-bottom: @ts-unit-half;
			}
			.color-code {
				font-family: @ts-fontstack-mono;
				font-size: @ts-fontsize-medium;
				opacity: 0.75;
			}
		}
	}
	// black and white
	.ts-black {
		background-color: @ts-black;
		color: @ts-white;
	}

	.ts-white {
		background-color: @ts-white;
		color: @ts-black;
	}

	// dark grey
	.ts-dark-darker {
		background-color: @ts-dark-darker;
		color: @ts-white;
	}

	.ts-dark-dark {
		background-color: @ts-dark-dark;
		color: @ts-white;
	}

	.ts-dark {
		background-color: @ts-dark;
		color: @ts-white;
	}

	.ts-dark-lite {
		background-color: @ts-dark-lite;
		color: @ts-white;
	}

	.ts-dark-liter {
		background-color: @ts-dark-liter;
		color: @ts-white;
	}

	// medium grey
	.ts-medium-darkest {
		background-color: @ts-medium-darkest;
		color: @ts-white;
	}

	.ts-medium-darker {
		background-color: @ts-medium-darker;
		color: @ts-white;
	}

	.ts-medium-dark {
		background-color: @ts-medium-dark;
		color: @ts-white;
	}

	.ts-medium {
		background-color: @ts-medium;
		color: @ts-white;
	}

	.ts-medium-lite {
		background-color: @ts-medium-lite;
		color: @ts-white;
	}

	.ts-medium-liter {
		background-color: @ts-medium-liter;
		color: @ts-white;
	}

	.ts-medium-litest {
		background-color: @ts-medium-litest;
		color: @ts-white;
	}

	// lite grey
	.ts-lite-darker {
		background-color: @ts-lite-darker;
		color: @ts-black;
	}

	.ts-lite-dark {
		background-color: @ts-lite-dark;
		color: @ts-black;
	}

	.ts-lite {
		background-color: @ts-lite;
		color: @ts-black;
	}

	.ts-lite-lite {
		background-color: @ts-lite-lite;
		color: @ts-black;
	}

	.ts-lite-liter {
		background-color: @ts-lite-liter;
		color: @ts-black;
	}

	// green
	.ts-green {
		background-color: @ts-green;
		color: @ts-white;
	}

	.ts-green-dark {
		background-color: @ts-green-dark;
		color: @ts-white;
	}

	.ts-green-darker {
		background-color: @ts-green-darker;
		color: @ts-white;
	}

	.ts-green-lite {
		background-color: @ts-green-lite;
		color: @ts-white;
	}

	.ts-green-text {
		background-color: @ts-green-text;
		color: @ts-green;
	}

	// blue
	.ts-blue {
		background-color: @ts-blue;
		color: @ts-white;
	}

	.ts-blue-dark {
		background-color: @ts-blue-dark;
		color: @ts-white;
	}

	.ts-blue-darker {
		background-color: @ts-blue-darker;
		color: @ts-white;
	}

	.ts-blue-lite {
		background-color: @ts-blue-lite;
		color: @ts-white;
	}

	.ts-blue-liter {
		background-color: @ts-blue-liter;
		color: @ts-white;
	}

	.ts-blue-text {
		background-color: @ts-blue-text;
		color: @ts-blue;
	}

	// pale blue
	.ts-liteblue {
		background-color: @ts-liteblue;
		color: @ts-black;
	}

	.ts-liteblue-dark {
		background-color: @ts-liteblue-dark;
		color: @ts-black;
	}

	// pale green
	.ts-litegreen {
		background-color: @ts-litegreen;
		color: @ts-white;
	}

	// dark blue
	.ts-darkblue {
		background-color: @ts-darkblue;
		color: @ts-white;
	}

	.ts-dustblue {
		background-color: @ts-dustblue;
		color: @ts-white;
	}

	// dark green
	.ts-darkgreen {
		background-color: @ts-darkgreen;
		color: @ts-white;
	}

	// red
	.ts-red {
		background-color: @ts-red;
		color: @ts-red-text;
	}

	.ts-red-dark {
		background-color: @ts-red-dark;
		color: @ts-white;
	}

	.ts-red-darker {
		background-color: @ts-red-darker;
		color: @ts-white;
	}

	.ts-red-lite {
		background-color: @ts-red-lite;
		color: @ts-white;
	}

	.ts-red-text {
		background-color: @ts-red-text;
		color: @ts-red;
	}

	// dark red
	.ts-darkred {
		background-color: @ts-darkred;
		color: @ts-darkred-text;
	}

	.ts-darkred-lite {
		background-color: @ts-darkred-lite;
		color: @ts-black;
	}

	.ts-darkred-text {
		background-color: @ts-darkred-text;
		color: @ts-darkred;
	}

	// yellow
	.ts-yellow {
		background-color: @ts-yellow;
		color: @ts-yellow-text;
	}

	.ts-yellow-dark {
		background-color: @ts-yellow-dark;
		color: @ts-yellow-text;
	}

	.ts-yellow-text {
		background-color: @ts-yellow-text;
		color: @ts-yellow;
	}

	// orange

	.ts-orange-liter {
		background-color: @ts-orange-liter;
		color: @ts-orange;
	}

	.ts-orange-lite {
		background-color: @ts-orange-lite;
		color: @ts-orange-dark;
	}

	.ts-orange {
		background-color: @ts-orange;
		color: @ts-orange-text;
	}

	.ts-orange-dark {
		background-color: @ts-orange-dark;
		color: @ts-orange-text;
	}

	.ts-orange-darker {
		background-color: @ts-orange-darker;
		color: @ts-orange-text;
	}

	.ts-orange-text {
		background-color: @ts-orange-text;
		color: @ts-orange;
	}

	// purple
	.ts-purple {
		background-color: @ts-purple;
		color: @ts-white;
	}

	.ts-purple-dark {
		background-color: @ts-purple-dark;
		color: @ts-white;
	}

	.ts-purple-darker {
		background-color: @ts-purple-darker;
		color: @ts-white;
	}

	.ts-purple-lite {
		background-color: @ts-purple-lite;
		color: @ts-white;
	}

	.ts-purple-text {
		background-color: @ts-purple-text;
		color: @ts-purple;
	}
}

/* Breakpoints .............................................................. */

.ts-mobile-only,
.ts-tablet-only {
	figure {
		.message {
			display: none; // would trigger horizontal scrolling and strange viewport
		}
	}
}

.ts-mobile-only {
	article {
		padding: @ts-unit-double @ts-unit;
		padding-bottom: @ts-unit-triple;
	}
}
.ts-mobile-only {
	.splitscreen {
		> li:last-child {
			margin-top: @ts-unit;
		}
	}
}
.ts-tablet {
	.splitscreen-container {
		width: 80vw;
		max-width: @docs-width * 2;
		margin-bottom: @ts-unit;
	}
	.splitscreen {
		width: 100%;
		font-size: 0;
		display: table;
		table-layout: fixed;
		&:after {
			content: '';
			clear: left;
			display: block;
		}
		> li {
			width: 50%;
			display: table-cell;
			font-size: @ts-fontsize;
			vertical-align: top;
			+ li {
				position: relative;
				padding-left: @ts-unit;
			}
		}
	}
}

// Search style ................................................................

#results {
	li {
		display: block;
		padding-bottom: @ts-unit;
	}
}

// Stickies ....................................................................

.sticky {
	position: fixed;
	right: @ts-unit-double;
	top: @ts-unit-plus;
	padding: @ts-unit;
	text-align: center;
	display: none;
}
.ts-desktop-only .sticky {
	display: block;
}
.ts-has-toolbar-first-ts-micro {
	.sticky {
		top: @ts-unit-double + @ts-unit-plus;
	}
}
.ts-has-toolbar-first-ts-macro,
.ts-has-topbar {
	.sticky {
		top: @ts-unit-triple + @ts-unit-plus;
	}
}
.ts-has-toolbar-first-ts-micro.ts-has-toolbar-first-ts-macro,
.ts-has-toolbar-first-ts-micro.ts-has-topbar {
	.sticky {
		top: @ts-unit-triple + @ts-unit-double + @ts-unit-plus;
	}
}
.ts-has-toolbar-first-ts-micro.ts-has-toolbar-first-ts-macro.ts-has-topbar {
	.sticky {
		top: @ts-unit-triple + @ts-unit-triple + @ts-unit-double + @ts-unit-plus;
	}
}

// Section-specific styling ....................................................

/* Not currently used!
html.design.ts-bg-lite {
	.ts-main {
		background-color: @ts-white;
	}
}
*/
