<header ts-topbar></header>
<main ts-main>
	<article>
		<menu ts-buttons class="ts-i-i-t ts-join">
			<li>
				<button>
					<span>(This text should be hidden)</span>
					<i class="ts-icon-followed"></i>
				</button>
			</li>
			<li>
				<button>
					<span>(This text should also be hidden)</span>
					<i class="ts-icon-followed"></i>
				</button>
			</li>
			<li>
				<button>
					<span>Button Label</span>
					<i class="ts-icon-cancel">(This icon should be hidden)</i>
				</button>
			</li>
		</menu>
	</article>
</main>
