<header ts-topbar></header>
<main ts-main>
	<article>
		<form ts-form>
			<fieldset>
				<label>
					<span>Date</span>
					<input type="date" value="2014-12-29" name="date" min="2012-01-01" max="2014-12-29">
				</label>
			</fieldset>
		</form>
	</article>
</main>
