<header ts-topbar></header>
<main ts-main>
	<article>
		<form ts-form>
			<fieldset>
				<label class="ts-error">
					<span>Name A:</span>
					<input name="text" value="this is a message" />
				</label>
			
				<dl class="ts-errors">
					<dt>
						Name A
					</dt>
					<dd>
						Error message
					</dd>
				</dl>
			</fieldset>
		</form>
	</article>
</main>
