<header ts-topbar></header>
<main ts-main>
	<article>
		<form ts-form>
			<fieldset>
				<label>
					<span>Number</span>
					<input name="number" type="number">
				</label>
			</fieldset>
		</form>
	</article>
</main>
