<header ts-topbar></header>
<main ts-main>
	<article>
		<form ts-form>
			<fieldset>
				<label>
					<span>Text</span>
					<input type="text" name="text">
				</label>
			</fieldset>
		</form>
	</article>
</main>
