@import '../../../less/ts-runtime.less';
// Map color to new values (extracted from v11)

// Noncolors
.doc-ts-black {
	color: @ts-black;
}
.doc-ts-white {
	color: @ts-white;
}

// Grays
.doc-ts-dark-liter {
	color: @ts-dark-liter;
}
.doc-ts-dark-lite {
	color: @ts-dark-lite;
}
.doc-ts-dark {
	color: @ts-dark;
}
.doc-ts-dark-dark {
	color: @ts-dark-dark;
}
.doc-ts-dark-darker {
	color: @ts-dark-darker;
}
.doc-ts-medium-litest {
	color: @ts-medium-litest;
}
.doc-ts-medium-liter {
	color: @ts-medium-liter;
}
.doc-ts-medium-lite {
	color: @ts-medium-lite;
}
.doc-ts-medium {
	color: @ts-medium;
}
.doc-ts-medium-dark {
	color: @ts-medium-dark;
}
.doc-ts-medium-darker {
	color: @ts-medium-darker;
}
.doc-ts-medium-darkest {
	color: @ts-medium-darkest;
}
.doc-ts-lite-liter {
	color: @ts-lite-liter;
}
.doc-ts-lite-lite {
	color: @ts-lite-lite;
}
.doc-ts-lite {
	color: @ts-lite;
}
.doc-ts-lite-dark {
	color: @ts-lite-dark;
}
.doc-ts-lite-darker {
	color: @ts-lite-darker;
}

// Green
.doc-ts-green-text {
	color: @ts-green-text;
}
.doc-ts-litegreen {
	color: @ts-litegreen;
}
.doc-ts-green-lite {
	color: @ts-green-lite;
}
.doc-ts-green {
	color: @ts-green;
}
.doc-ts-green-dark {
	color: @ts-green-dark;
}
.doc-ts-green-darker {
	color: @ts-green-darker;
}
.doc-ts-darkgreen {
	color: @ts-darkgreen;
}

// Blue
.doc-ts-blue-text {
	color: @ts-blue-text;
}
.doc-ts-blue-liter {
	color: @ts-blue-liter;
}
.doc-ts-blue-lite {
	color: @ts-blue-lite;
}
.doc-ts-blue {
	color: @ts-blue;
}
.doc-ts-blue-dark {
	color: @ts-blue-dark;
}
.doc-ts-blue-darker {
	color: @ts-blue-darker;
}
.doc-ts-darkblue {
	color: @ts-darkblue;
}
.doc-ts-dustblue {
	color: @ts-dustblue;
}
.doc-ts-liteblue-dark {
	color: @ts-liteblue-dark;
}
.doc-ts-liteblue {
	color: @ts-liteblue;
}

// Red
.doc-ts-red-text {
	color: @ts-red-text;
}
.doc-ts-darkred-text {
	color: @ts-darkred-text;
}
.doc-ts-red-lite {
	color: @ts-red-lite;
}
.doc-ts-red {
	color: @ts-red;
}
.doc-ts-darkred {
	color: @ts-darkred;
}
.doc-ts-red-dark {
	color: @ts-red-dark;
}
.doc-ts-red-darker {
	color: @ts-red-darker;
}
.doc-ts-darkred-lite {
	color: @ts-darkred-lite;
}

// Yellow
.doc-ts-yellow-text {
	color: @ts-yellow-text;
}
.doc-ts-yellow-dark {
	color: @ts-yellow-dark;
}
.doc-ts-yellow {
	color: @ts-yellow;
}

// Orange
.doc-ts-orange-text {
	color: @ts-orange-text;
}
.doc-ts-orange-liter {
	color: @ts-orange-liter;
}
.doc-ts-orange-lite {
	color: @ts-orange-lite;
}
.doc-ts-orange {
	color: @ts-orange;
}
.doc-ts-orange-dark {
	color: @ts-orange-dark;
}
.doc-ts-orange-darker {
	color: @ts-orange-darker;
}

// Purple
.doc-ts-purple-text {
	color: @ts-purple-text;
}
.doc-ts-purple-lite {
	color: @ts-purple-lite;
}
.doc-ts-purple {
	color: @ts-purple;
}
.doc-ts-purple-dark {
	color: @ts-purple-dark;
}
.doc-ts-purple-darker {
	color: @ts-purple-darker;
}
